 
body{
    background: #349c46;
    min-height: 100vh;
    color: white;
   
}

.btn{
    opacity: 1;
}

.jumbotron p{
    font-size: 14px!important;
    margin: 0px;
}

.btn-delete{
    position: absolute;
    top: 5px;
    right: 10px;
}

.image{
    position: absolute;
    top: 0;
    left: -10%;
    max-height: 100vh;
}

.image img {
    height: 100vh;
    border-bottom-right-radius: 25%;
}

.h1login{
    z-index: 100px;
}


.body{
    background: #349c46;
    min-height: 100vh;
    color: white;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 500px;
    background-attachment: fixed;
    background-position-x: right;
}

.tableAlumnos{
    height: 100vh;
    overflow-y: auto;
}

.card-pdf{
    position: relative;
    background: white;
    
}

.img-pdf{
    max-width: 100%;
}

.list-name{
    position: absolute;
    bottom: 50%;
    left: 5px;
    right: 5px;
    background: black;
    color: wheat;
    text-align: center;
    font-size: 18px;
}

.card{
    min-height: 400px;
}

.content-target{
    position: relative;
    display: flex;
}

.btn-download{
    position: absolute;
    top: 50%;
    left: 35%;
    right: 35%;
    
}

.img-download-targeton{
    width: 150px;
    margin: auto;
    height: 200px;
}

@media (max-width: 480px){

    .body{
        background: #349c46;
        min-height: 100vh;
        color: white;
        background-image: url(../img/girl-runer.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 500px;
        background-attachment: fixed;
        background-position-x: right;
    }

    .image {
        max-height: 100vh;
    }
    .image img{
        object-fit: cover;
        width: 100%;
    }

    /*Login  */

    .log{
        margin-bottom: auto;
    }

  
    .titulo-tutoria{
        margin-top: 0px;
    }


    /* alumnos */
    .table{
        width: 100%;
        overflow-x: scroll;
    }
}
@media (min-width: 481px) and (max-width: 780px){

    h1{
        font-size: 32px !important;
        margin-bottom: revert;
    }
    /*Login  */

    .log{
        margin-bottom: auto;
    }
    #form_login{
        margin: auto;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .jumbotron{
        border-radius: 15px;      
    }
    

    
    .jumbotron p {
        font-size: 14px ;
        font-weight: bolder;
        box-sizing: border-box !important;
    }


    /* alumnos */
    .table{
        width: 100%;
        overflow-x: scroll;
    }
    .busquedad{
        display: flex;
        margin: auto;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
}

